body
  text-align center
  background-color #005572

h2, h3, p, label
  color #F4D4AD

#footer
  position absolute
  left 50%
  margin-left -200px
  padding 0px 32px
  bottom 30px

a
  color #E74C3C

a:hover
  text-decoration none
  color #008B8D

#main
  position relative
  margin-top 15px

form
  width 400px

#login
  position relative
  margin-top 0
  padding 28px 25px
  left 50%
  margin-left -200px
  top 0

#signup
  position relative
  margin-top 0
  padding 28px 25px
  left 50%
  margin-left -200px
  top 0

input[type=text], [type=password]
  padding 7px
  width 100%
  height 40px
  margin-top 15px
  font-size 18px

input.btn
  margin-top 15px
  margin-bottom 15px

input.btn:hover
  color #FFFFFF
  background-color #113F59
