body {
  background-color: #254559;
  color: #FFF;
}

h2{
  font:"Lucida Grande";
  text-align : center;
}

#login {
  position: relative;
  width: 300px;
  margin: 100px auto;
}
#login td {
  padding: 5px;
}
#login button {
  margin-right: 10px;
}

footer {
  position : relative;
  vertical-align : bottom;
  text-align : center;
}
